@import 'normalize.css';
@import './base/_global.css';
@import './modules/_container.css';

.nav {
    float: right;
}

.nav li {
    display: inline-block;
    margin-right: 1.5em;
}

.user-links {
    float: right;
}