.hero {
  background: linear-gradient(
      0deg,
      rgba(40, 66, 202, 0.25),
      rgba(40, 66, 202, 0.25)
    ),
    url("assets/images/banner-background.png");

  &__container {
    display: flex;
    flex-direction: column;

    @mixin atLaptopLarge {
      flex-direction: row;
    }
  }

  &__text-content {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    color: white;
    text-align: center;
    font-size: 1.1em;

    @mixin atLaptopLarge {
      margin-top: 3.175rem;
      padding: 3.175rem;
      text-align: left;
      font-size: 1.2rem;
    }
  }

  &__image-container {
    width: 100%;
  }

  &__image {
    width: 100%;
  }

  &__heading {
    /* font-size: 2.625rem; */
    font-size: 1.75rem;

    @mixin atLaptopLarge {
      font-size: 2.625rem;
    }
  }

  &__text {
    line-height: 1.7;
    font-weight: 100;
  }
}
